{% extends "layout.html.twig" %}

{% block "body_content" %}

<form class="form-signin" id="main-form">
    <h2 class="form-signin-heading">JLaso-notify</h2>
    <label for="phone" class="sr-only">Phone number with country code</label>
    <input type="text" id="phone" class="form-control" placeholder="Phone number with country code" required autofocus>
    <label for="inputPassword" class="sr-only">Code</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Code">
    <div class="checkbox">
        <label>
            <input id="i-am-new" type="checkbox" value="remember-me"> I am new
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block ajax-no" id="button" type="submit">Access</button>
</form>

{% endblock "body_content" %}